@model Employee.Models.EmployeeModel

@{ Layout = null; }

<div class="row">
    <div class="col-md-12">
     
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="EmployeeFirstName" class="control-label"></label>
                        @Html.LabelForModel(Model.EmployeeFirstName, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="EmployeeLastName" class="control-label"></label>
                        @Html.LabelForModel(Model.EmployeeLastName, new { @class = "form-control" })
                    </div>
                </div>
            </div>
           
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="EmployeePhone" class="control-label"></label>
                        @Html.LabelForModel(Model.EmployeePhone, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="EmployeeZip" class="control-label"></label>
                        @Html.LabelForModel(Model.EmployeeZip, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="HireDate" class="control-label"></label>
                        <label class="form-control">@Html.DisplayFor(modelItem => Model.HireDate)</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Date" class="control-label"></label>
                        <label class="form-control">@Html.DisplayFor(modelItem => Model.Date)</label>
                        
                    </div>
                </div>
            </div>
        </div>
</div>





